.head {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color: alicebl;
}

.heading {
    background-color: #d;
}

.navbar-brand {
    font-weight: bolder;
}

.nav-item {
    font-weight: bolder;
}

.navbar {
    background-color: #009900;
}

.content {
    text-align: center;
}

.content-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}
