.head{
 text-align: center ;
 font-family: "Times New Roman", Times, serif;
 color:;
 background-color:deepskyblueblue ;
}

span{
 text-align: center ;
 font-family: "Times New Roman", Times, serif;
}

